.footer{
    background: linear-gradient(135deg, #d3d3d3, #ffe6e6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    color: hwb(0 0% 100%);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .footer {
        padding: 15px;
        text-align: center;
    }
}